* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  .banner {
    width: 100%;
    overflow: hidden;
    margin-top: 5%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Responsive Banner Image */
  .banner-img {
    width: 100%;
    height: 580px;
    object-fit: cover;
    display: block;
  }
  
  .outer-content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .inner-content h3 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  
  .inner-content p {
    font-size: 1.2em;
  }
  
  /* Adjustments for Tablet and Mobile */
  @media (max-width: 768px) {
    .banner-img {
      height: 500px;
    }
  
    .inner-content h3 {
      font-size: 1.8em;
    }
  
    .inner-content p {
      font-size: 1em;
    }
  }
  
  @media (max-width: 480px) {
    .banner-img {
      height: 400px;
    }
  
    .inner-content h3 {
      font-size: 1.5em;
    }
  
    .inner-content p {
      font-size: 0.9em;
    }
  }
  
  .button{ 
  
  display: flex;
  justify-content: center;
  padding: "12px 25px";
  text-decoration: none;
  color: red;

  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  transition: "background-color 0.3s, transform 0.2s"
  
  }

.download{
  display: flex;
  justify-content: center;
  margin-top: 4%;
  
}
.resume-section {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 4%;
}

.resume-container {
  max-width: 1200px;
  width: 100%;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  height: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.resume-header {
  text-align: center;
  margin-bottom: 20px;
}

.resume-header h1 {
  font-size: 24px;
  font-weight: bold;
  color: #222;
}

.resume-header p {
  font-size: 16px;
  color: #555;
}

.resume-content h2 {
  font-size: 20px;
  color: #333;
  margin-top: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}

.resume-content p {
  font-size: 16px;
  color: #555;
  margin: 10px 0;
}

.skills p,
.links p {
  font-size: 16px;
  margin: 5px 0;
}

.resume-content a {
  color: #007bff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s ease;
}

.resume-content a:hover {
  border-color: #007bff;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .resume-container {
    padding: 15px;
  }

  .resume-header h1 {
    font-size: 20px;
  }

  .resume-header p {
    font-size: 14px;
  }

  .resume-content h2 {
    font-size: 18px;
  }

  .resume-content p {
    font-size: 14px;
  }

  .skills p,
  .links p {
    font-size: 14px;
    margin: 5px 0;
  }
}

.contact{
  margin-top: 5%;
}